@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow-medium {
    text-shadow: 2px 2px 5px black;
}

.text-shadow-small {
    text-shadow: 1px 1px 4px black;
}

.text-shadow {
    text-shadow: 1px 1px 3px grey;
}

.text-stroke {
    -webkit-text-stroke: 1px black;
}